.pc-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-with-spinner > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.opacity-75 {
    opacity: .75;
}

.opacity-25 {
    opacity: .25;
}

.hidden {
    display: none;
}

.form-with-spinner button > svg {
    margin-left: -0.25rem;
    margin-right: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
    color: #ccc;
}

.form-with-spinner .checkmark {
    color: #fff;
}

.form-with-spinner .animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}