<script defer data-domain="docs.privatecaptcha.com" src="https://stats.intmaker.com/js/script.js"></script>
{{- if .Params.captcha_scripts -}}
{{- $captchaScript := printf "https://cdn.%s/widget/js/privatecaptcha.js" .Site.Params.privateCaptchaDomain -}}
{{- if .Params.captcha_render_explicit -}}
<script async defer src="{{ $captchaScript }}?render=explicit"></script>
{{- else -}}
<script async defer src="{{ $captchaScript }}"></script>
{{- end -}}
<script type="text/javascript">
function resetCaptcha(widget) {
    setTimeout(() => widget.reset(), 1500);
}
function enableDisable(btn) {
    btn.disabled = true;
    setTimeout(() => { btn.disabled = false; }, 1500);
}
function invisibleStarted() {
    document.getElementById('spinner').classList.remove('hidden');
    document.getElementById('checkmark').classList.add('hidden');
}
function invisibleFinished(widget) {
    setTimeout(() => {
        document.getElementById('spinner').classList.add('hidden');
        document.getElementById('checkmark').classList.remove('hidden');
    }, 1500);

    setTimeout(() => {
        widget.reset();
        document.getElementById('spinner').classList.add('hidden');
        document.getElementById('checkmark').classList.add('hidden');
    }, 3000);
}
</script>
{{- end -}}
{{- if .Params.medium_zoom_selector -}}
<script defer src="/js/medium-zoom.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        mediumZoom({{ .Params.medium_zoom_selector |  safeJSStr }}, {
            margin: 40,
            background: 'var(--image-zoom-background-color)',
            scrollOffset: 0
        })
    });
</script>
{{- end -}}
