{{- $theme := .Get "theme" | default "light" -}}
{{- $widgetStyle := .Get "widgetstyle" | default "" -}}
{{- $parentStyle := .Get "parentstyle" | default "" -}}
{{- $formClass := .Get "formclass" | default "pc-form" -}}
<form class="{{$formClass}}" style="{{$parentStyle | safeCSS}}">
    <div class="private-captcha hx-h-full" data-sitekey="aaaaaaaabbbbccccddddeeeeeeeeeeee"
        data-puzzle-endpoint="https://api.{{ .Site.Params.privateCaptchaDomain }}/puzzle"
        data-theme="{{$theme}}"
        data-styles="{{$widgetStyle}}"></div>
</form>